<p>last updated: <%= @lastupdated %></p>
<% (0..(DISTRICTS.length - 1)).each do |i| %>
	<h2><%= DISTRICTS[i][0] %></h2>
	<table>
		<thead><tr><th>Date</th><th>Title</th><th>Due date</th><th>Other links</th></tr></thead>
		<tbody><% @entries[i].each do |ent| %><tr>
			<td class="date-field"><%= ent.date %></td>
			<td class="main-field"><a href="<%= ent.source %>"><%= ent.title %></a></td>
			<td class="date-field">
			<% if ent.duedate == nil %>
				unknown
			<% else %>
				<% if ent.duedate == Date.parse("1970-01-01") %>
					expired
				<% else %>
					<%= ent.duedate %>
				<% end %>
			<% end %>
			</td>
			<td class="others-field">
				<% if ent.extralinks == nil%>
					<div class="centered">---</div>
				<% else %>
					<% @list = ent.extralinks.split("\n") %>
					<% @listnewline = false %>
					<% puts @list %>
					<% (0..(@list.length/2)).each do |i| %>
						<% if @listnewline %><br /><% end %>
						<% @listnewline = true %>
						<a href="<%= @list[2*i+1] %>"><%= @list[2*i] %></a>

					<% end %>
				<% end %>
			</td>
		</tr><% end %></tbody>
	</table>
	<hr />
<% end %>
<p>something isn't right? <a href="mailto:daniel.tp@cock.li">send me an email!</a></p>
